includes:
  - vendor/symbiote/silverstripe-phpstan/phpstan.neon
parameters:
  bootstrap: vendor/symbiote/silverstripe-phpstan/bootstrap.php
  level: 2
  paths:
    - src/
  excludes_analyse:
    - src/View/SSTemplateParser.php
